@import "typography";
@import "icons";

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;
$white: #fff;
$pad-sm: 0.5em;
$pad-1: 1em;
$bord-thin: solid $med-gray 1px;
$font: BYUI Open Sans;

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  font-family: $font;
  font-size: 15px;
}

//header
.site-banner {
  /*display: grid;
  grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;*/
  
  background-color: $byui-blue;
  margin: -0.75em;
}

.header-blue {
    display: flex;
  flex-direction: row;
 justify-content: space-between;
  
  
}

.site-banner a {
  text-decoration: none;
  font-size: xx-large;
}

.text-white {
  color: $white;
}

.site-banner__left {
  /*grid-column: 1 / 2;
  grid-row: 1 / 2;*/
  background-color: $body-font;
  width: max-content;
  padding: 1em 0.75em 0.25em;
}

.icon-byui-logo {
  color: $white;
  
}

.date-bold {
  justify-content: right;
}

.site-banner__right {
  /*grid-row: 1 / 2;
  grid-column: 2 / 11;*/
  padding: 1em 1.25em 0.5em 1em;
  justify-content: right;
}

.page-name {
   
  /*grid-column: 1 / 11;*/
  color: $dark-gray;
  background-color: $light-gray;
  padding: $pad-sm;
  text-align: center;
  border: solid $dark-gray 1px;
  font-size: x-small;
}
.page-name h1 {
  font-weight: 300;
}

//interest boxes

.icon-angle-right {
    padding-left: 22em;

}

.interest-box {
  margin: 2.5em auto 2em;
}

.interest-box:first-child {
  margin-top: 3.5em;
}

figure {
  border: $bord-thin;
  width: fit-content;
}

figcaption {
  padding: $pad-sm;
}

//links

.links {
  margin: 0 0.5em;
}

.links h2 {
  font-weight: 400;
  padding: 0.35em 0;
  color: $white;
  margin: -0.035em auto -0.5em 0em;
}

.links li {
  padding: 0.5em 1.5em;
  margin: -0.025em 0 0.025em -2.35em;
  border-bottom: $bord-thin;
  list-style: none;
}

.links li:last-child,
.links a:last-child {
  border-bottom: none;
}

.links li:hover {
  background-color: $light-gray;
}

.resources {
  border: $bord-thin;
  margin-top: 2.5em;
}

.resources li {
  background-color: lighten($light-gray, 5%);
  font-size: 1.045em;
}

.resources ul {
  margin-bottom: -0.025em;
}

.resources h2 {
  background-color: $dark-gray;
  padding-left: 1em;
  margin-left: 0.025em;
}

a {
  text-decoration: none;
  color: $link-blue;
}

//dates

.dates {
  margin-top: 2.5em;
}

.dates div {
  padding-top: 1.25em;
}

.dates a {
 display: grid;
  grid-template-columns: 1fr 0.75fr 0.25fr 3fr 1fr;
  color: $body-font;
  border-bottom: $bord-thin;
  font-size: small;
  margin: 0 0.25em;
}

.dates p {
  margin: 0.65em auto;
}

.date-bold {
  font-weight: bold;
  grid-column: 1 / 2;
  margin-left: 2em;
}

.dash {
  grid-column: 3 / 4;
  text-align: right;
}

.details {
  grid-column: 4 / 5;
  text-align: left;
}

.dates a:hover {
  color: $link-blue;
  background-color: $light-gray;
}

.dates h2 {
  background-color: $byui-blue;
  grid-column: 1 / 5;
  padding-left: 1em;
  margin-left: 0.025em;
}

//news
.news img {
  display: none; //for small screens
}

.news {
  border-top: $bord-thin;
  margin: 0 0.75em 2em;
}

.news a {
  font-weight: bold;
  color: $link-blue;
  font-size: 400;
}

.news p {
  font-weight: normal;
}

p.sm-date {
  font-size: smaller;
  font-weight: bold;
  margin-top: 1.5em;
}

//footer
.footimg {
  display: flex;
  margin-bottom: 3em;
  box-shadow: $light-gray 0px 60px 0px 0px;
  justify-content: center;
  border-bottom: $bord-thin;
}


//sm-med screens
@media screen and (min-width: 36em) {
 
    .interest-box:first-child {
    margin: 3em 0.75em 2em;
  }
  .interest-box:nth-child(n + 2) {
    margin: 2.5em 6.5em;
  }


}


//medium screens
@media screen and (min-width: 48em) {
  main {
    display: grid;
    grid-template-columns: 6fr 0.5fr 2.5fr;
  }
  .icon-angle-right {
    padding-left: 3em;
}
.site-banner__left {
    position: absolute;
    width: 6em;
    height: 6em;
    margin: auto;
}

.site-banner__right {
    position: relative;
    margin-left: auto;
}
.icon-byui-logo {
    position: absolute;
    margin: .5em .2em

}

 .interest-section {
    grid-area: 2 / 1 / 3 / 2;
  }

  aside {
    grid-area: 2 / 2 / 4 / 4;
    max-width: 15em;
    margin: .5em;

  }
  
  .interest-box:first-child {
    max-width: 31em;
  }

  .interest-box:nth-child(n + 2) {
    display: inline-block;
    margin: 0.5em 0.8em;
    max-width: 9em;
  }


  figcaption {
    padding: 0.25em 0.5em;
  }

.news-section {
    grid-area: 4 / 1 / 5 / 4; 
}

  .news {
    display: grid;
    grid-template-columns: 2fr 8fr;
    max-width: 32em;
  }

  .news img {
    display: grid;
    grid-column: 1 / 2;
    padding: 1.5em 0;
    max-width: 100px;
  }

  .newstext {
    padding: 0 1em 0 2em;
  }

  .newstext p {
    margin-right: 2em;
  }
}


//large screens
@media screen and (min-width: 62em) {
  .site-banner__left {
      margin-left: 5em;
  }
  .site-banner__right {
      margin-right: 5em;;
  }
  .icon-angle-right {
    padding-left: 6em;
} 
    aside {
        max-width: 20em;
        
    
      }
    .interest-box:first-child {
    max-width: 42em;
  }

  .interest-box:nth-child(n + 2) {
    display: inline-block;
    margin: 1em;
    max-width: 12.5em;
  }
  .links {
    max-width: 22em;
  }
  .news img {
    max-width: 150px;
  }

  .news {
    max-width: 42em;
  }
}

//extra-large screens
@media screen and (min-width: 75em) {
 
    .site-banner__left {
        margin-left: 15em;
    }
    .site-banner__right {
        margin-right: 15em;;
    }
    .icon-angle-right {
        padding-left:9em;
    }
    .interest-section {
     margin-left: auto;
 }
    .interest-box:first-child {
    max-width: 50em;
    
  }

  .interest-box:nth-child(n + 2) {
    display: inline-block;
    margin: 0.5em 1em;
    max-width: 15em;
  }
aside {
    max-width: 24em;
}
  .links {
    max-width: 25em;
  }
  .news img {
    max-width: 175px;
  }
.news-section {
   /* max-width: 51em;*/
    margin-left: 15.5em;
    margin-top: 2em;
}
 .news {
    max-width: 50em;
    margin: 1.5em 0 -.25em .5em;
  }
}
