@import "typography";
@import "icons";

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;
$white: #fff;
$pad-sm: 0.5em;
$pad-1: 1em;

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

//header
.site-banner {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: $byui-blue;
  margin: -0.75em;
}

.site-banner a {
  text-decoration: none;
  font-size: xx-large;
}

.text-white {
  color: $white;
}

.site-banner__left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: $body-font;
  width: min-content;
  padding: 1em 1em 0.5em;
}

.icon-byui-logo {
  color: $white;
}

.mobile-header-icon {
  justify-content: right;
}

.site-banner__right {
  grid-row: 1 / 2;
  grid-column: 2 / 11;
  padding: 1em 1.25em 0.5em 1em;
  justify-self: right;
}

.page-name {
  grid-column: 1 / 11;
  color: $dark-gray;
  background-color: $light-gray;
  padding: $pad-sm;
  text-align: center;
  border: solid $dark-gray 1px;
  font-size: x-small;
}

//interest boxes
.interest-box {
  margin-top: 2em;
  margin: 2em auto;
}

figure {
  border: solid 1px $med-gray;
}
figure img {
  width: max-content;
}
figcaption {
  padding: $pad-sm;
}

//links
.links h2 {
  font-weight: lighter;
  padding: 0.45em 1em;
  color: $white;
  margin-bottom: -0.55em;
}

.links li {
  padding: 0.45em 2em;
  margin: -0.025em 0 0.25em -2.35em;
  border-bottom: solid $med-gray 1px;
  list-style: none;
}

.links li:hover {
  background-color: $light-gray;
}

.resources li {
  background-color: lighten($light-gray, 5%);
  font-size: 1.045em;
}

.resources ul {
  border-left: solid $med-gray 1px;
  border-right: solid $med-gray 1px;
}

.resources h2 {
  background-color: $dark-gray;
  padding-left: 1.5em;
}

a {
  text-decoration: none;
  color: $link-blue;
}

//dates
.dates div {
  padding-top: 1em;
}

.dates a {
  display: grid;
  grid-template-columns: 1fr 0.5fr .5fr 3fr;
  color: $body-font;
  border-bottom: solid $med-gray 1px;
  
}
.dates p {
    margin: .5em auto;
}
.date-bold {
  font-weight: bold;
  grid-column: 1 / 2;
  margin-left: 2em;
}
.dash {
  grid-column: 3 / 4;
  text-align: center;
}

.details {
  grid-column: 4 / 5;
  justify-self:left;
}

.dates a:hover {
  color: $link-blue;
  background-color: $light-gray;
}

.dates h2 {
  background-color: $byui-blue;
  grid-column: 1 / 5;
  padding-left: 1.5em;
}

//news
.news img {
  display: none; //for small screens
}

.news {
  border-top: solid $med-gray 2.5px;
  margin: 0 0 2em 2em;
}

.news a {
  font-weight: bold;
}

//footer
.footimg {
  display: flex;
  margin-bottom: 3em;
  box-shadow: $light-gray 0px 40px 0px 0px;
  justify-content: center;
  border-bottom: solid $med-gray 2px;
}
