body {
    background-color:rgb(193, 227, 248);
    font-family: 'Josefin Slab', serif;
}

header {
    background-color :linen;
    color: navy;
    border:  solid black 2.5px;
    box-shadow: 0px 4px 4px 0px gray;
    max-width: 400px;  
    
}

main {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 12px;
    align-items: center;

}

h1, h2 {
    text-align: center;

}

img {
    max-width: 250px;
}

.contrast {
    grid-column: 2/3;
}

.alignment {
    grid-column: 3/4;
}

.proximity {
    grid-column: 4/5;
}

div {
    color: white;
    border: black 25px;
    background-color:darkblue;
    padding: 4px;
}

div a {
    color: lightskyblue;
}
