body {
    background-color:rgb(193, 227, 248);
    font-family: 'Josefin Slab', serif;
}

header, footer {
    background-color :linen;
    color: navy;
    border:  solid black 3px;
    box-shadow: 0px 4px 4px 0px gray;
    max-width: 600px;
    margin: 1.5rem auto;
    border-radius: 4px;
        
}

main {
    display:grid;
    grid-template-columns: 1fr;
    padding: 12px;
    text-align: center;
   
}

p {
   font-size: 18px; 
   padding: 2em;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-style: italic;
}
img {
    max-width: 300px;
    align-items: center;
}

.contrast {
    grid-column: 2/3;
}

.alignment {
    grid-column: 3/4;
}

.proximity {
    grid-column: 4/5;
}

div {
    color: white;
    border: black 25px;
    background-color:darkblue;
    padding: 4px;
    margin: .5em 1em;
    border: solid black 3px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px gray;

}

div a {
    color: lightskyblue;
}

footer {
    font-style: italic;
    padding: 6px;
    line-height: 1.25em;
    text-align:center;
}
