
picture img[data-src] {
    filter: blur(.2em);
}

picture img {
    width: 300px;
    height: 400px;
    border:darkblue dotted 1px;
    margin: 20px;
    filter: blur(0em);
    transition: filter(2.5s);
    
}

body {
    display: flex;
    flex-direction:column;
}