@media only screen and (min-width: 60em) {
    header img {
        width: 100%;
    }
    .headings {
        font-size: 3rem;
    }


    nav {
        display: block;
        margin: auto;
        text-align: center;
        padding: 8px 
    }

    nav ul li {
        margin: 0 10px;
    }
}