@media only screen and (min-width: 32.5em) {
    header img {
        width: 100%;
    }
    .headings {
        font-size: 3rem;
    }

    .motto {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }
    
    /*nav {
        display: block;
        margin: auto;
        text-align: center;
        padding: 8px 
    }*/

    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
}