.cd-primary-nav a {
    background-color: $color-4;
    color: $color-5;
    border-radius: 25px;
    padding: 5px;
}

.cd-primary-nav li {
    line-height: 34px;
    
}

.cd-primary-nav a:hover {
    background-color: lighten($color-4, 25%);
    color: $color-1;
}