body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    /*max-width: 900px;*/
    background-color: whitesmoke;
    font-family: 'Merienda One', cursive;
}

main {
    background-color: rgb(170, 184, 248);
    padding: 12px;
    border-radius: 10px;
    margin: 12px auto;
    box-shadow: 4px 4px 6px rgb(57, 64, 97);
    max-width: 860px;
}

p {
    font-family: 'PT Serif', serif;
}

header,
footer {
    background-color: rgb(57, 64, 97);
    color: whitesmoke;
    border: solid 12px rgb(170, 184, 248);
    border-radius: 10px;
    margin: 12px;
    box-shadow: 4px 4px 6px rgb(57, 64, 97);
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 2px 24px;
}

header img {
    width: 80px;
    height: auto;
    border: 6px solid rgb(84, 112, 248);
    margin: 24px 10px 0 0;
    background-color: rgb(170, 184, 248);

}

#logo {
    padding-left: 1rem;

}

.headings {
    display: flex;
    flex-direction: column;
    padding: .25rem .25rem .25rem 0;
}

.headings h1,
.motto {
    text-shadow: 3px 3px 5px black;

}

h1,
h2 {
    font-size: 2rem;
    padding: .75rem;
    margin: 0 0 0 2px;
    text-align: center;
    text-shadow: 3px 3px 5px #777;
}

.motto {
    font-style: italic;
    letter-spacing: 1pt;
    color: rgb(170, 184, 248);
    margin-left: 20px;
    font-size: .9rem;
}

nav {
    margin: 0 auto;
    /*width: fit-content;*/
    font-size: 18px;
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: center;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;

}

.navigation a {
    display: block;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    border-top: solid rgba(0, 0, 0, .3);
}

nav a:hover {
    color: salmon;
    text-shadow: none;
}

.responsive li {
    display: block;
}

#updated {
    font-size: 12px;
    color: yellow;
}

footer a {
    color: whitesmoke;
}

footer a:visited {
    color: rgb(170, 184, 248);
}

footer a:hover {
    color: salmon;
}

footer {
    padding: 12px;
    font-size: 12px;
    line-height: 1.5em;
}

div.sections,
div.sections2 {
    background-color: whitesmoke;
    padding: 12px;
    border: solid 3px rgb(57, 64, 97);
    margin: 20px;
}

div.sections2 {
    display: flex;
}

div.sections2 img {
    border: none;
    margin: 12px;
    max-height: 52px;
    max-width: 52px;
}

.fiveDay {
    display: none;
}

.sections img {
    width: 100%;
    margin: 0 auto 2rem;
}

.sections p {
    padding: 1rem 1rem;
    margin: 6px 24px;
}

.sections h3 {
    padding: 1rem 1rem 0 1rem;
    margin: 6px 24px 0 28px;
}

.sections ul li {
    list-style: none;
    padding: 6px;
}

.hero {
    position: relative;
    margin: 10px auto;
}

.hero h1,
h2,
p {
    margin: .25rem auto;
}


#heroImg {
    width: 100%;
    margin: .75rem auto;
    border: solid black 3px;
}

.sections #map {
    display: none
}

/*
.sections .cards {
    display: flex;
}
*/
.stats {
    position: absolute;
    top: 30px;
    left: 20px;
    background: radial-gradient(whitesmoke, rgb(170, 184, 248));
    padding: .25rem;
    border: solid black 1.5px;
    box-shadow: 0 0 20px black;
    opacity: .85;
    text-align: center;
}

#sumBox {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;

}

#current {
    grid-column: 1/2;
    grid-row: 1/2;

}

#currently {
    grid-column: 2/3;
    grid-row: 1/2;

}

#pancakes {
    /*display: none;*/
    background-color: salmon;
    font-family: 'PT Serif', serif;
    color: black;
    padding: 1rem;
    text-align: center;
    font-size: 1.25em;
    border: solid rgb(57, 64, 97) 3px;
    box-shadow: 0 0 20px black;

}

#pancakesinfo {
    line-height: 1.75rem;
}

#contact {
    text-align: center;
}

#contact p {
    margin: auto;
    line-height: 1.5rem;
    padding: 50px;

}

.links {
    max-width: 40px;
    padding: 0 3px;
}

.active {
    font-size: 1.75rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 6px;

}

.gallery figure {
    border: rgb(84, 112, 248) dotted 2px;
    margin: 6px;
}


.gallery figure img {
    min-width: 200px;
    min-height: 150px;
    border: darkblue dotted 1px;
    margin: 20px auto 0;

}

.gallery figure p {
    padding: 0;
    text-align: center;
    margin-bottom: 12px;
    font-size: 14px;
}

figure img[data-src] {
    filter: blur(0.2em);
}

figure img {
    filter: blur(0);
    transition: filter .025s;
}

.top {
    display: block;
    padding: .75rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;

}

form label.top input,
form label.top option,
input.top,
select {
    display: block;
    font-size: 1rem;
    border: solid 1.5px rgb(84, 112, 248);
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
}

fieldset {
    border-color: rgb(57, 64, 97);
    margin-top: 1.5rem;

}

form label.top input:required {
    border-left: salmon solid 6px;
}

form label.top input:required:valid {
    border-left: rgb(84, 112, 248) solid 6px;

}

label input,
label select {
    margin-top: .5rem;
}


#ratingvalue {
    display: block;
    font-size: 1rem;
    margin-left: .8rem;
    width: 100%;
    max-width: 20rem;
}

form label.rad {
    display: block;
    padding: .25rem .75rem;
    cursor: pointer;

}

label.rad input {
    margin: .25rem 1rem;
}

textarea {
    width: 100%;
    max-width: 50rem;
    min-height: 10rem;
}

.submit {
    border-radius: 4px;
    border: 4px solid rgb(57, 64, 97);
    background-color: salmon;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem;
}

.submit:hover {
    background-color: rgb(57, 64, 97);
    color: salmon;
    box-shadow: #555 6px 6px 16px;
}

p small {
    margin-left: .75rem;
}

.cards {
    display: flex;
    flex-direction: column;
    margin: auto;
    /*border: white solid 2rem;*/
    padding: 1rem;
    /*box-shadow: darkgrey 4px 4px 10px 10px;*/
}

.cards section {
    background-color:rgb(170, 184, 248);
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    border: solid rgb(57, 64, 97) .25rem;
    box-shadow: 0 0 10 #333;
    margin: 1rem;
    background-color: whitesmoke;
}

.cards section img {
    border: solid black 1px;
    margin:auto;
    max-width: 400px;
    max-height: 300px;
    padding: 1rem;
    
}

towns {
    box-shadow: 0 0 10 #333;
}

motto {
    font-style: italic;
    font-size: large;
    padding: .25rem .5rem .5rem;
}

yearFounded {
    padding: .25rem;
}

currentPopulation {
padding: .25rem;
}

averageRainfall {
padding: .25rem .25rem .5rem;
}
