// variables
$body-background-color: darkred;
$form-background-color: white;
$input-color: white;
$headlines-color : white;


//styles
body {
    background-color: $body-background-color;          
}
    