// variables
$body-background-color: darkred;
$form-background-color: white;
$input-color: white;
$headlines-color: white;

//breakpoints
$break-small: 20em;
$break-medium: 31em;
$break-large: 60em;

          

//mixins
@mixin flex-container($axis, $wrap: nowrap) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: $axis $wrap;
    -ms-flex-flow: $axis $wrap;
    flex-flow: $axis $wrap;
}

@mixin center($width, $max-width: 960px) {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

@mixin breakpoint($break) {
@if $break == large {
@media (max-width: $break-large) { @content; }
}
@else if $break == medium {
@media (max-width: $break-medium) { @content; }
}
@else if $break == small {
@media (max-width: $break-small) { @content; }
} @else {
@media ($break) { @content; }
}
}     


  #content {
      @include center;
  }

//styles
body {
  background-color: $body-background-color;
}

#contactform {
  background-color: $form-background-color;
  input,
  textarea {
    background-color: $input-color;
    flex: 2;
  }

  @media (min-width: $break-small) {
    & {
      width: 90%;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

body {
    background: white;
    @include breakpoint(large) { background: red; }
    @include breakpoint(medium) { background: cyan; }
    @include breakpoint(small) { background: green; }
    @include breakpoint(“max-width: 480px”) { background: yellow; }
    }  

#contactform fieldset > div {
    @include flex-container(column);  
    
    
}