body {
    font-family: 'Ubuntu', sans-serif;}


table {
    box-shadow: 10px 10px 10px #628ca6;
    margin: 50px;
    text-align: center;
}

table, tr, th, td {
    border: 2px solid lightgrey;
    border-collapse: collapse;
}

caption {
    color: black;
    font-weight: 900;
    background-color: #7fb9c2;
    padding: 8px 40px;
    font-size: x-large;
}

tr.th1 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .055rem;
}

.th1 {
    background-color:#628ca6;
    color: white;
}

tfoot {
    font-size: 12px; 
}
 th, td {
     padding: 8px;
 }

 tbody tr {
     background-color: #e7ffed;
 }

 tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
 }

 tfoot {
    background-color: #7fb9c2;
 }
