@media only screen and (min-width: 37.5em) {
    header img {
        width: 100%;
       
    }

    .headings {
        font-size: 3rem;
        padding-left: 1rem;
        
    }

    .motto {
        letter-spacing: 1.5pt;
        font-size: 1rem;
        margin-left: 17px;
    }

    .navigation {
        display: flex;

    }

    .navigation li {
        display: block;
        flex: 1 1 50%;
        padding: 0 10px;
        text-shadow: 3px 3px 8px #999;
    }

    .navigation li:first-child {
        display: none;
    }

    main,
    footer {
        max-width: 850px;
        margin: 24px auto;
    }

    .fiveDay,
    h3 {
        display: block;
        margin: auto auto .75rem;
        text-align: center;
        padding: 10px;
    }

    .fiveDay h3 {
        background-color: rgb(84, 112, 248);
        border: solid rgb(57, 64, 97) 2px;
    }

    .fiveDay table {
        margin: auto;
    }

    .fiveDay table th {
        padding: .25rem 1rem;
    }

    .mapbox {
        display: inline-block;
        margin: auto;
        vertical-align: top;
    }

    .sections #map,
    #contact {
        display: inline-block;
        max-width: 280px;
        margin: auto;
        vertical-align: top;
        /* margin: 0 0 2rem;
        }*/
    }

    #map {

        max-width: 50%;
    
    }
    .stats {
        position: absolute;
        top: 50px;
        left: 40px;
        padding: .5rem;
}}