@media only screen and (min-width: 60em) {
   
    main,
    footer {
        max-width: 1000px;
        margin: 24px auto;
    }

 #imagesrc img {
    max-width: 35%;
}

.ads {
    display: grid;
    grid-template-areas: 
    "a a"
    "b c";
    justify-content: center;
    align-items: center;
    flex: 1fr 1fr 1fr;
}

.ads h3 {
    grid-area: a;
}

.ads img {
    padding: 0 0 2rem 2rem;
    margin: 20px;
    max-width: 75%;
}

.ads p {
    padding: 0 2rem 2rem 0;
}


.grid img {
    width: 100%
}


.cards {
    max-width: 100%; 
}

.city img{
    width:min-content;
}

.city figcaption {
    padding-bottom: 3rem;
}

form {
    margin: 0 7em;
}




}