@media only screen and (min-width: 37.5em) {
    header img {
        width: 300px;
    }

    .headings {
        font-size: 3rem;
        padding-left: 1rem;

    }

    .motto {
        letter-spacing: 1.5pt;
        font-size: 1rem;
        margin-left: 17px;
    }

    .navbar {
        display: flex;

    }

    .navbar li {
        display: block;
        flex: 1 1 50%;
        padding: 0 10px;
        text-shadow: 3px 3px 8px #999;
    }

    .navbar li:first-child {
        display: none;
    }

    main,
    footer {
        max-width: 900px;
        margin: 24px auto;
    }

    .localImg {
        display: grid;
        grid-template-columns: 50% 50%;

    }

    .localImg img {
        max-width: 90%;
        margin: 1rem auto .5rem;
    }

    figcaption {
        margin: 0 auto;
        text-align: center;
        padding: .25rem 1rem;
    }

    .contact {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        max-width: 75%;
        justify-content: center;
        margin: auto;
        
    }
    .threeDay {
        justify-items: center;
    }

    .threeDay table {
        max-width: 75%;
    }

    .threeDay img {
        margin: auto;
    }

    .contact img {
        padding-top: 8px;
    }

    .stats {
        max-width: 75%;
        margin: auto;
    }

    #imagesrc img {
        max-width: 40%;
}

.ads img {
    max-width: 50%;
}

#hide, #hide2 {
    display:inline;
    width: 2em;
    height: 2em;
    margin: 2em 0em 2em 2em;
}

#hide:hover, #hide2:hover {
    color: #920783;
    background-color: blanchedalmond;

}


.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-content: center;
}

.grid img {
    width: 80%;
}

.cards section {
    padding: .5rem;
    margin: .5rem;
}


}