body {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    
}

main {
    background-color: lightgreen;
    padding: 12px;
    border-radius: 10px;
    margin: 12px auto;
    box-shadow: 0 4px 6px #444;
    max-width: 90%;

}

h1,
h2,
h3,
h4,
nav {
    font-family: 'PT Sans', sans-serif;

}

nav {
    margin: 0 auto;
    font-size: 18px;
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: center;


}

.navbar {
    list-style: none;
    text-align: center;
    padding: 0;

}

.navbar li:first-child {
    display: block;

}

.navbar li {
    display: none;

}

.navbar a {
    display: block;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    border-top: solid rgba(0, 0, 0, .3);

}

nav a {
    color:rgb(119, 89, 62);

}

nav a:hover {
    color: rgb(70, 52, 36);
    background-color: lightgreen;
    text-shadow: none;

}

nav a:visited {
 color: green;

}

 nav a:visited:hover {
     color:rgb(0, 99, 0);
 }
 
 .response li {
    display: block;

}

.active {
    font-size: 1.75rem;

}

.sections {
    background-color:rgb(252, 245, 236);
    padding: 12px;
    border: solid 3px rgb(119, 89, 62);
    margin: 20px;
    border-radius: 2px;
}

.sections img {
    width:100%;
    margin: 0 auto .5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 6px
   
}
 
.localImg, .localImg img {
    box-shadow: 0px 2px 8px #444;
}

figcaption {
   margin: 0 auto 2rem;
   text-align: center;
 }

.sections p {
    padding: .25rem;
    margin: .25rem;
    
}

.sections p a { /* code credit: https://perishablepress.com/wrapping-content/*/
    white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;   

}


header,
footer {
    background-color: rgb(119, 89, 62);
    color: blanchedalmond;
    border: solid 14px lightgreen;
    border-radius: 6px;
    margin: 12px;
    box-shadow: 0 4px 8px #444;
    text-align: center;

}

header img {
    margin-top:1rem;
    width:150px;
}

.header h1,
.motto {
    text-shadow: 3px 3px 5px black;
}

.motto {
    margin-bottom: 1rem;
    font-style: italic;
    color:lightgreen;
 }

#updated {
    font-size: 13px;
    color: yellow;

}

footer a {
    color: lightgreen;

}

footer a:hover {
    color: #920783;
    background-color: blanchedalmond;

}

footer {
    padding: 12px;
    font-size: 13px;
    line-height: 1.5em;

}