body {
    font-size: 16px;
    /*line-height: 1.5;*/
    margin: 1.5rem auto;
    max-width: 900px;
    background-color:whitesmoke;
    font-family: 'Merienda One', cursive;
}

main {
    background-color:rgb(170, 184, 248);
    padding: 12px;
    border-radius: 10px; 
    margin: 12px;  
    box-shadow: 4px 4px 6px rgb(57, 64, 97);
}

p {
    font-family: 'PT Serif', serif;
}

header, footer {
    background-color: rgb(57, 64, 97);
    color: whitesmoke;
    text-align:center;
    border: solid 12px  rgb(170, 184, 248);
    border-radius: 10px; 
    margin: 12px;   
    box-shadow: 4px 4px 6px rgb(57, 64, 97);    
}

nav{
    margin: 24px;
    text-align: center; 
}

nav a {
    padding: 1em;  
    text-decoration: none; 
}

nav a:hover {
    color:salmon;
}

img {
    max-width: 225px;
    border: 6px solid rgb(84, 112, 248);
    margin: 24px 0px 0px;
    background-color: rgb(170, 184, 248);  
}

/*#updated {
    font-size: 14px;
    color: yellow;}*/

footer {
    padding: 12px;
}

#sections, #sections2 {
    background-color:whitesmoke;
    padding: 12px;
    border: solid 3px rgb(57, 64, 97); 
    margin: 20px;
}

#sections2 img {
    border: none;
}